.container {
    display: flex;
    align-items: center;
    background-color: #4879a1;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
  }
  
  .form-header {
    background-color: #1d272f;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20rem;
    text-align: center;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    margin-left: -1150px;
  }
  
  .form-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }
  .form {
    width: 600px;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 20px 8px rgba(5, 28, 103, 0.2);
    text-align: center;
    background-color: #e8f4fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  
  
  
  .title {
    margin-bottom: 1rem;
    color: #333333;
    font-size: 1.2rem;
    margin-right: auto;
  }
  
  .blue-title {
    color: darkblue;
  }
  
  
  
  .input1[type="email"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 180px; /* Ajustez la valeur selon vos besoins */
    box-sizing: border-box;
  }
  .input2 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 210px; /* Ajustez la valeur selon vos besoins */
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  
  .logo {
    width: 70px !important;
    height: 70px !important;
    margin-right: 102px;
    /* Ajustez cette valeur selon vos besoins */
    vertical-align: middle;
    /* Alignement vertical du logo */
    border-radius: 500%;
    object-fit: cover;
    position: absolute;
    top: -15px !important;
    left: 2px !important;
    width: 500px;
    height: 500px;
    margin-right: 10px;
    margin-bottom: -10px;
    /* Réduire l'espace en bas du logo */
  }
  
  .login-link {
    text-decoration: none;
  }
  
  .login-button,
  .register-button {
    padding: 0.5222rem 4rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #2196f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 0.5rem;
    /* Ajoutez un espace à droite */
  }
  
  .register-button {
    margin-left: 0.5rem;
    /* Ajoutez un espace à gauche */
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: darkblue;
  }
  